.nav_button {
  z-index: 1;
  position: relative;
}

.nav_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: yellowgreen;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease-in-out;
}

.nav_button:hover::before,
.nav_button:focus::before {
  transform: scaleX(1);
}
